{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"import",
		"@typescript-eslint"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"root": true,
	"env": {
		"node": true
	},
	"ignorePatterns": [
		".eslintrc.js"
	],
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	},
	"rules": {
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"varsIgnorePattern": "^_",
				"argsIgnorePattern": "^_"
			}
		],
		"no-console": "error",
		"import/no-duplicates": "error",
		"import/order": [
			"error",
			{
				"groups": [
					"builtin",
					"external"
				],
				"pathGroups": [
					{
						"pattern": "@/**",
						"group": "external",
						"position": "after"
					}
				],
				"alphabetize": {
					"order": "asc"
				},
				"newlines-between": "always"
			}
		],
		"@typescript-eslint/consistent-type-imports": [
			"error",
			{
				"prefer": "type-imports"
			}
		],
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": "typeAlias",
				"format": [
					"PascalCase"
				]
			}
		],
		"no-restricted-imports": "off",
		"@typescript-eslint/no-restricted-imports": [
			"error",
			{
				"patterns": [
					{
						"group": [
							"./*/**/internal/**/*",
							"@/**/internal/**/*",
							"../**/internal/**/*",
							"@/features/**/internal/**/*"
						],
						"message": "Do not import internal modules."
					}
				]
			}
		],
		"object-shorthand": "error"
	}
}
